<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <h1>Near Earth Objects</h1>
    <div class="panel-container">
      <ul>
        <% neo_list.forEach(neo => { %>
          <%- include('../partials/neo_list.ejs', { elements: neo, maxElementsToShow: 5 }) %>
        <% }) %>
      </ul>
    </div>
</body>
</html>