<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun</title>
</head>
<body>
    <h1>Sun Forcast</h1>
    <p><%= sunDescription %></p>

    <h2>Sun Activity</h2>
    <img style="width: 35%;" src="<%= activityImagePath %>"/>

    <h2>Sun Position</h2>
    <img style="width: 35%;" src="<%= positionImagePath %>"/>
</body>
</html>