<div class="panel">
    <h2><%= elements[0] %></h2>
    <ul>
      <% for (let i = 1; i < elements.length + 1; i++) { %>
        <% if (i < maxElementsToShow) { %>
          <li><%= elements[i] %></li>
        <% } %>
      <% } %>
    </ul>
  </div>